* {
  box-sizing: border-box;
}
:root {
  --pixel-size: 4px;
  --grid-cell: calc(var(--pixel-size) * 16);
  --bg: #9fa7e4;
}
html,
body {
  /* margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(
    180deg,
    #64beff -50%,
    #6e96ff 69.71%,
    #2a65ff 150%
  );*/
  padding: 0;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  /*display: flex;
  align-items: center;
  justify-content: center; */

  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  background: url(./images/map.png) no-repeat no-repeat;
  /* background: url(./images/nineLarge.png) no-repeat no-repeat; */
  width: 240px;
  height: 208px;
  /* width: 720px; */
  /* height: 612; */
  transform: scale(3);
  /* width: calc(15 * var(--grid-cell)); */
  /* height: calc(13 * var(--grid-cell)); */
  /* transform: scale(3); */
  background-size: 100%;
  position: relative;
  image-rendering: pixelated;
}

.player-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
  text-transform: uppercase;
}
input[type="text"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 16px;
  height: 16px;
}
.Character {
  transition: transform 0.4s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}
.Character_you-arrow {
  display: none;
  position: absolute;
  top: -18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(./images/arrow.png) no-repeat no-repeat;
}
.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(./images/characters.png);
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}
.Character[data-color="red"] .Character_sprite {
  background-position-y: -16px;
}
.Character[data-color="orange"] .Character_sprite {
  background-position-y: -32px;
}
.Character[data-color="yellow"] .Character_sprite {
  background-position-y: -48px;
}
.Character[data-color="green"] .Character_sprite {
  background-position-y: -64px;
}
.Character[data-color="purple"] .Character_sprite {
  background-position-y: -80px;
}
.Character_shadow {
  background: url(./images/shadow.png) no-repeat no-repeat;
}

.Character_name-container {
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.Character_coins {
  margin-left: 1px;
  color: gold;
}

/* Coins */
.Coin_sprite {
  background: url(./images/coin.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
}
@keyframes coinFloat {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}
.Coin_shadow {
  background: url(/images/coin-shadow.png) no-repeat no-repeat;
}

#minimap {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  position: absolute;
  top: 5;
  right: 5;
  background-color: #4d2222;
}

.camera {
  /* width: 240; */
  /* height: 208; */
  /* transform: scale(3); */
  width: 400;
  height: 400;
  border: solid;
  /* width: calc(var(--pixel-size) * 100); */
  /* height: calc(var(--pixel-size) * 100); */
  overflow: hidden;
  background: #61ddf7;
  position: relative;
}
