* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background: radial-gradient(#e66465, #9198e5); */
  padding: 0;

  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  background: url(./images/mapgrass.png) no-repeat no-repeat;
  width: 240px;
  height: 233px;
  transform: scale(3);
  background-size: 100%;
  position: relative;
  image-rendering: pixelated;
  transition: 0.2s;
}

.player-info {
  position: absolute;
  top: 240px;
  right: 0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
  text-transform: uppercase;
}
input[type="text"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4e603;
  border: 0;
  border-bottom: 2px solid #b9b000;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

button:hover {
  background: #fff429;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 16px;
  height: 16px;
}
.Character {
  transition: 0.2s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}
.Character_you-arrow {
  display: none;
  position: absolute;
  top: -10px;
  left: 4px;
  width: 7px;
  height: 5px;
  background: url(./images/arrow.png) no-repeat no-repeat;
}
.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(./images/characters_animal.png);
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: -16px;
}
.Character[data-direction="left"] .Character_sprite {
  background-position-x: 0px;
}
.Character[data-direction="down"] .Character_sprite {
  background-position-x: 16px;
}
.Character[data-direction="up"] .Character_sprite {
  background-position-x: -32px;
}
.Character[data-color="red"] .Character_sprite {
  background-position-y: -16px;
}
.Character[data-color="orange"] .Character_sprite {
  background-position-y: -32px;
}
.Character[data-color="yellow"] .Character_sprite {
  background-position-y: -48px;
}
.Character[data-color="green"] .Character_sprite {
  background-position-y: -64px;
}
.Character[data-color="purple"] .Character_sprite {
  background-position-y: -80px;
}
.Character_shadow {
  background: url(./images/shadow.png) no-repeat no-repeat;
}

.Character_name-container {
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  display: none;
}

#minimap {
  border-style: solid;
  border-width: 5px;
  border-radius: 2%;
  border-color: rgb(39, 37, 37);
  position: absolute;
  top: 5;
  right: 5;
  background-color: #000;
}

.camera {
  width: 400;
  height: 400;
  border: solid;
  overflow: hidden;
  background: #000;
  position: relative;
}
